$navText: #0BFF56;

.access-points-container
{
    margin: 0 1rem;

    .access-point
    {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;
        color: white;
        text-decoration: none;
        

        &:hover
        {
            color: white;
            text-decoration: none;
        }

        &-img-container
        {
            position: relative;
            background: url('../../../static/images/slider/GreenBox.png') no-repeat;
            object-fit: scale-down;

            &.purple
            {
                background: url('../../../static/images/slider/PurpleBox.png') no-repeat;
            }

            img
            {
                width: 45px;
                height: 50px;
                margin: 1.5rem;
                object-fit: scale-down;
            }

            &::after
            {
                content: 'ENTER HERE';
                position: absolute;
                width: 100%;
                left: -.1rem;
                bottom: 0;
                font-size: .55em;
                color: $navText;
            }
        }
    }
}