// $navText: #00e101;

// .mint-card-container {

//   font-family: 'Chakra Bold' !important;
//   color: white;
//   text-align: right;

//   overflow-x: hidden;
//   /* min-height: 622px;*/

//   margin: 4rem 0;

//   background: url('../../static/images/sections/BackgroundMintNft.png') no-repeat;

//   /*@media (max-width: 991px) {
//     & {
//       background: none;
//     }
//   }*/

//   background-size: contain;

//   .mint-card {
//     padding: 5rem;
//   }

//   .mint-card-details {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: flex-start;

//     @media screen and (min-width: 991px) {
//       & {
//         min-height: 500px;
//       }
//     }

//     @media (max-width: 767px) {
//       & {
//         background: none;
//         justify-content: flex-start;
//         align-items: flex-start;
//       }
//     }

//     .img-detail.lines {
//       align-self: start;
//     }

//     .mint-card-title {
// 		font-size: 1.4em;
//       font-weight: bold;
//     }

//     .mint-card-action {
//       .button-container {
//         width: 100% !important;
//         background: unset !important;
//         border-color: #00e101 !important;
//         border-width: 2px !important;

//         button {
//           border-width: 0 !important;
//           border-color: #00e101 !important;
//           padding: 0.5rem 3rem;
//           color: white !important;
//           background: rgba(0, 225, 1, 0.2) !important;
//         }
//       }
//       @media (max-width: 767px) {
//         position: relative;
//         bottom: -40px;
//       }
//     }
// 	.mint-card-counter{
// 		display: flex;
// 		align-items: center;
// 		background-color: #4F5153;
// 		border-radius: 8px;
// 		width: 65%;
// 		padding: 2px 7px;
// 		input{
// 		  background: transparent;
// 		  border: none;
// 		  outline: none;
// 		  text-align: center;
// 		  width: 100%;
// 		  box-shadow: none;
// 		  margin: 0 10px;
// 		  color: #ffffff;
// 		  font-size: 12px;
// 		  &::placeholder{
// 			color: #C2C3C4;
// 		  }
// 		  &::-webkit-outer-spin-button,
//   &::-webkit-inner-spin-button {
// 	-webkit-appearance: none;
// 	margin: 0;
//   }
// 		}
// 		input[type=number] {
// 		  -moz-appearance: textfield;
// 		}
// 		button{
// 		  border: none;
// 		  background-color: #00e101;
// 		  color: #4F5153;
// 		  border-radius: 50%;
// 		  display: flex;
// 		  align-items: center;
// 		  justify-content: center;
// 		  min-width: 25px;
// 		  min-height: 25px;
// 		  font-size: 15px;
// 		}
// 	  }
// 	  .mint-card-buttons{
// 	  display: flex;
// 	  align-items: center;
// 	  justify-content: space-between;
// 		.button-container {
// 		  background-color: #fff;
// 		  clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%) !important;
// 		  border: 2px solid #fff;
// 		  width: max-content;
// 		 height: max-content;
// 		 &:last-child{
// 		  margin-left: 20px;
// 		 }
// 		  &:hover {
// 			background-color: #00e101;
// 			border: 2px solid #00e101;
// 			color: #00e101;
// 			button{
// 			  background-color: #1D6838;
// 			  border-color:  #1D6838;
// 			  color: #fff;
// 			}
// 		  }
// 		  button{
// 			clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%) !important;
// 			background-color: #1A1F22;
// 			color: #0bff56;
// 			width: 100%;
// 			height: 100%;
// 			padding:2px 20px;
// 			margin: auto;
// 			font-size: 14px;
// 			line-height: 200%;
// 			border: solid #271528;

// 		  }
// 		}
// 	  }

//     .mint-card-select-container {
//       .mint-card-select {
//         word-wrap: normal;
//         background: transparent;
//         padding: 0.5rem 2rem 0.5rem 0.5rem;
//         border-color: #00e101;
//         color: white;
//       }
//     }

//     .mint-card-price-container {
// 		text-align: start;
// 		color: $navText;
// 		font-size: 1.2rem;
//     }
//   }

//   .mint-card-presentation {
//     .mint-card-gorilla-incognito {
//       filter: brightness(0) contrast(0);
//       position: absolute;
//       left: 5rem;
//       top: 7rem;
//       text-align: center;
//       margin: auto;
//       // transform: scaleX(-1);
//       filter: grayscale(100%) brightness(0);
//       z-index: 19;
//     }

//     .mint-card-gorilla-question-mark {
//       position: absolute;
//       top: 13rem;
//       left: 14.5rem;
//       z-index: 20;
//     }

//     @media screen and (max-width: 800px) {
//       & {
//         margin: 3rem;
//       }

//       .mint-card-gorilla-incognito {
//         left: 0;
//         top: 0;
//       }

//       .mint-card-gorilla-question-mark {
//         top: 6rem;
//         left: 9rem;
//       }
//     }
//   }

//   .mint-card-gorilla-background-img {
//     transform: scale(0.65);
//     filter: saturate(0) opacity(0.6);
//   }
//   .presale {
// 	font-size: 2.0rem !important;
// }

// @media(max-width:768px){
//   width: 100%;
// 	.mint-card{
// 	  padding: 30px;
// 	  .mint-card-price-container{
// 		font-size: 16px!important;
// 	  }
// 	  .mint-card-counter{
// 		button{
// 		  max-width: 20px;
// 		  max-height: 20px;
// 		  font-size: 12px;
// 		}
// 	  }
// 	  .mint-card-buttons{
// 		.button-container{
// 		  button{
// 		  font-size: 10px;

// 		  }
// 		}
// 	  }
// 	}
// }
// }

$navText: #00e101;

.mint-card-container {
	font-family: "Chakra Bold" !important;
	color: white;
	text-align: right;

	overflow-x: hidden;
	/* min-height: 622px;*/

	margin: 4rem 0;

	background: url("../../static/images/sections/BackgroundMintNft.png")
		no-repeat;

	/*@media (max-width: 991px) {
    & {
      background: none;
    }
  }*/

	background-size: contain;

	.mint-card {
		padding: 5rem;
	}

	.mint-card-details {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		.nft-launch {
			width:  70%;
		}
		.platforms {
			width: 80%;
		}

		@media screen and (min-width: 991px) {
			& {
				min-height: 500px;
			}
		}

		@media (max-width: 768px) {
			& {
				background: none;
				justify-content: flex-start;
				align-items: flex-start;
			}
      .nft-launch {
        width:  30%;
      }
     
      .platforms {
        width: 50%;
      }
		}

		.img-detail.lines {
			align-self: start;
		}

		.mint-card-title {
			font-size: 1.5em;
			font-weight: bold;
		}

		.mint-card-action {
			width: 100%;
      margin-top: 10px!important;
      margin-bottom: 0!important;
			.button-container {
				width: 100% !important;
        
				button {
					width: 100%;
					height: 100px;
					outline: none;
					box-shadow: none;
					padding: 0;
					background: url("../../static/images/button_negativo.png")
						no-repeat;
					background-size: cover;
					&:hover {
						background: url("../../static/images/button_negativo_active.png")
							no-repeat;
						background-size: cover;
					}
				}
			}
			@media (max-width: 768px) {
				position: relative;
				bottom: -40px;
				.button-container {
					width: 50% !important;
					button {
						height: 30px;
						padding: 0 !important;
						background-size: contain;
						&:hover {
							background-size: contain;
						}
					}
				}
			}
		}

		.mint-card-select-container {
			.mint-card-select {
				word-wrap: normal;
				background: transparent;
				padding: 0.5rem 2rem 0.5rem 0.5rem;
				border-color: #00e101;
				color: white;
			}
		}

		.mint-card-price-container {
			text-align: right;
			color: $navText;
			font-size: 1rem;
		}
	}

	.mint-card-presentation {
		.mint-card-gorilla-incognito {
			filter: brightness(0) contrast(0);
			position: absolute;
			left: 5rem;
			top: 7rem;
			text-align: center;
			margin: auto;
			// transform: scaleX(-1);
			filter: grayscale(100%) brightness(0);
			z-index: 19;
		}

		.mint-card-gorilla-question-mark {
			position: absolute;
			top: 13rem;
			left: 14.5rem;
			z-index: 20;
		}

		@media screen and (max-width: 800px) {
			& {
				margin: 3rem;
			}

			.mint-card-gorilla-incognito {
				left: 0;
				top: 0;
			}

			.mint-card-gorilla-question-mark {
				top: 6rem;
				left: 9rem;
			}
		}
	}

	.mint-card-gorilla-background-img {
		transform: scale(0.65);
		filter: saturate(0) opacity(0.6);
	}
	.presale {
		font-size: 1.7rem !important;
	}
}

@media (max-width: 768px) {
	.mint-card-container {
		// background-size: cover;
		background-position: center center;
		padding: 40px 0;
		.mint-card.row {
			width: 100%;
			margin: 0 auto;
			padding: 25px 10px;
			.mint-card-details {
				.mint-card-title-container {
          p {
            margin-bottom: 0;
						font-size: 12px;
						// margin-bottom: 8px;
						text-align: left;
					}
				}
				.mint-card-price-container {
					span {
						font-size: 12px;
					}
				}
				.mint-card-action {
					bottom: 0;
					.button-container {
						button {
							padding: 0.5rem 1.5rem;
						}
					}
				}
			}
		}
	}
}
