$navText: #00e101;

.mint-card-container {
  color: white;
  text-align: right;

  overflow-x: hidden;
  min-height: 622px;

  margin: 4rem 0;

  background: url('../../static/images/sections/BackgroundMintNft.png') no-repeat;
  background-size: contain;

  .mint-card {
    padding: 5rem;
  }

  .mint-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    @media screen and (min-width: 800px) {
      & {
        min-height: 500px;
      }
    }

    .img-detail.lines {
      align-self: start;
    }

    .mint-card-title {
      font-size: 1.5em;
      font-weight: bold;
    }

    .mint-card-action {
      .button-container {
        width: 100% !important;
        background: unset !important;
        border-color: #00e101 !important;
        border-width: 2px !important;

        button {
          border-width: 0 !important;
          border-color: #00e101 !important;
          padding: 0.5rem 3rem;
          color: white !important;
          background: rgba(0, 225, 1, 0.2) !important;
        }
      }
    }

    .mint-card-select-container {
      .mint-card-select {
        word-wrap: normal;
        background: transparent;
        padding: 0.5rem 2rem 0.5rem 0.5rem;
        border-color: #00e101;
        color: white;
      }
    }

    .mint-card-price-container {
      text-align: right;
      color: $navText;

      .mint-card-price {
        font-size: 1.25em;
      }
    }
  }

  .mint-card-presentation {
    .mint-card-gorilla-incognito {
      filter: brightness(0) contrast(0);
      position: absolute;
      left: 5rem;
      top: 7rem;
      text-align: center;
      margin: auto;
      // transform: scaleX(-1);
      filter: grayscale(100%) brightness(0);
      z-index: 19;
    }

    .mint-card-gorilla-question-mark {
      position: absolute;
      top: 13rem;
      left: 14.5rem;
      z-index: 20;
    }

    @media screen and (max-width: 800px) {
      & {
        margin: 3rem;
      }

      .mint-card-gorilla-incognito {
        left: 0;
        top: 0;
      }

      .mint-card-gorilla-question-mark {
        top: 6rem;
        left: 9rem;
      }
    }
  }

  .mint-card-gorilla-background-img {
    transform: scale(0.65);
    filter: saturate(0) opacity(0.6);
  }
}
