#root
{
    background: url('../static/images/banner.jpg') repeat;
    background-size: 100vw;

    .btn
    {

    }
    
    .button-container {
        background-color: #fff;
        clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%) !important;
        border: 2px solid #fff;
        width: 75%;

        button {
            clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%) !important;
            background-color: #0f0f11;
            color: #0bff56;
            width: 100%;
            margin: auto;
            font-size: 12px;
            line-height: 200%;
            border: solid #0f0f11;
        }
    }
}

iframe
{
    display: none;
}