$navText: #00e101;

.clans-slider {
  font-family: 'D-DIN Exp';
  background-image:  url('../../static/images/gorillas-slider/BackgorundSlider.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 670px;

  &-title-container {
    color: #00e101;
    position: absolute;
    left: 25%;

    .clans-slider-title {
      position: absolute;
      color: #00e101;
      font-size: 1.5rem;
      top: 0;
      left: 0.5rem;
    }

    .clans-slider-subtitle {
      position: absolute;
      font-size: 1rem;
      top: 1.75rem;
      left: 6.75rem;
    }

    @media screen and (max-width: 800px) {
      & {
        top: 0;
      }
    }
  }

  .img-detail.dots {
    position: absolute;
    top: -2.5rem;
    right: 0;
  }
  .clans-slider-gorilla {
    position: relative;
    z-index: 20;
  }

  &-arrow-left,
  &-arrow-right {
    color: $navText;
    font-size: 2em;
    cursor: pointer;
  }

  .current-gorilla {
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .clans-slider-gorilla-current-background {
    height: 100%;
  }
  .clans-slider-gorilla-img {
    cursor: pointer;
  }
  .clans-slider-arrow-right {
    right: 0%;
  }
  .clans-slider-arrow-left {
    left: 0%;
  }
  .clans-slider-gorilla-left img,
  .clans-slider-gorilla-right img {
    height: 40%;
  }
}

@media screen and (max-width: 800px) {
  .clans-slider {
    .btn {
      padding: 0 !important;
    }

    &-arrow-left,
    &-arrow-right {
      display: none;
    }
  }
}
