@use "../../constants";

$mainTextColor: #0bff56;
$navText: #00e101;
$grayNavText: #d8d8d8;

.jumbotron-container {
  background: url("../../static/images/header/headerBackground.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  .jumbotron-logo {
    min-width: 300px;
  }

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   position: relative;

  //   .jumbotron-content {
  //     .button-details {
  //       position: absolute;
  //       width: 100%;

  //       .decoration,
  //       .corner-top {
  //         display: none;
  //         pointer-events: none;
  //       }

  //       .decoration {
  //         position: absolute;
  //         width: 88px;
  //         height: 10px;
  //         bottom: -3rem;
  //         // background: url('../../static/images/header/ButtonDecorationBar.png') no-repeat;
  //       }

  //       .corner-top {
  //         position: absolute;
  //         width: 175px;
  //         height: 58px;
  //         bottom: -3rem;
  //         transform: scale(0.65);
  //         // background: url('../../static/images/header/ButtonDecorationCorners.png') no-repeat;
  //       }

  //       &.information {
  //         .corner-top {
  //           left: -2rem;
  //         }

  //         .decoration {
  //         }
  //       }

  //       &.mint {
  //         .corner-top {
  //           left: 7rem;
  //         }

  //         .decoration {
  //           left: 9rem;
  //         }
  //       }

  //   .button-container {
  //     background: unset !important;
  //     position: relative;
  //     overflow: visible !important;
  //     max-width: 142px;

  //     &:hover {
  //       background: unset !important;
  //       border-color: #00e101 !important;
  //       border-width: 2px !important;

  //       button {
  //         // border-width: 0 !important;
  //         // border-color: #00E101 !important;
  //         border-color: transparent !important;
  //         color: white !important;
  //         background: rgba(0, 225, 1, 0.2) !important;
  //       }

  //       .mint {
  //         background: rgba(255, 255, 255, 0.2) !important;
  //       }

  //       & + .button-details {
  //         .corner-top,
  //         .decoration {
  //           display: block;
  //         }
  //       }
  //     }

  //     .information {
  //       background: white !important;
  //       color: black !important;
  //       border-color: transparent !important;
  //     }

  //     .mint {
  //       background: unset !important;
  //       color: #00e101 !important;
  //       border-color: transparent !important;
  //     }
  //   }
  // }
  //   }
  button {
    clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%) !important;
    // background-color: transparent;
    // background-image: url("../../static/images/header/HeaderBackground2.jpg");
    background-color: rgba(#0e1316, 1);
    background-blend-mode: darken;
    background-position: center;
    background-size: initial;

    color: #0bff56;
    width: 100%;
    margin: auto;
    font-size: 12px;
    line-height: 3;
    border: solid transparent;

    &:hover {
        background-color: rgba(11, 255, 86, 0.4);
        color: #fff;
    }
  }

  .button-container {
    background-color: #fff;
    clip-path: polygon(10% 0%, 100% 0%, 100% 65%, 90% 100%, 0% 100%, 0% 35%) !important;
    border: 2px solid #fff;
    width: 90%;
    height: 90%;
    min-width: 220px;
    display: block;
    &:hover {
        background-color: rgba(11, 255, 86, 1);
        border: 2px solid rgba(11, 255, 86, 0.5);
        
    }
    &:after {
      content: "";
      display: block;
      background-image: url("../../static/images/header/ButtonDecorationBar.png");
    }
  }
}

.button-decoration{
  
  height: 60px;
  /*padding: auto;*/
  // background-color: transparent;
  // background-image: url("../../static/images/header/ButtonDecorationCorners.png");
  // background-size: cover;
  img{
    visibility: hidden;
  }
}


.button-decoration:hover{
  /*width: 12%;*/
  height: 60px;
  min-width: 220px;
  padding: auto;
  // background-color: transparent;
  background-image: url("../../static/images/header/ButtonDecorationCorners.png");
  background-size: cover;
  .decoration-bar {
    min-height: 10px;
    min-width: 80px;
    max-height: 10px;
    max-width: 80px;
    position: absolute;

    img {
      visibility: visible;
      position: relative;
      top: -10px;
      min-height: 10px;
      min-width: 80px;
      max-height: 10px;
      left: 10px;
      max-width: 80px;
  
    }
  }

}
.countdown-container {
  font-family: 'Chakra Bold' !important;
  color: white;
  .second-countdown {
    color:#00e101
  }   
  .description {
    font-size: 1rem;
  }
}