@use '../../constants';

$mainTextColor: #0BFF56;
$navText: #00E101;
$grayNavText: #D8D8D8;

.jumbotron-container
{
    background: url('../../static/images/header/HeaderBackground.png') no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.25);
    background-blend-mode: darken;

    width: 100%;
    height: 100vh;

    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .jumbotron-content
    {
        position: absolute;

        margin-left: auto;
        margin-right: auto;

        .jumbotron-title
        {
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            line-height: 1;
            
            .company-name
            {
                font-size: 2rem;
                color: $grayNavText;
                display: block;
                margin: 0;
            }
            
            .metaverse
            {
                color: $mainTextColor;
                font-size: 3rem;
                margin: 0;
            }
        }

        .jumbotron-actions
        {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: .5rem;
            transform: scale(1.25);
            position: relative;

            button
            {
                flex: 1;
                text-transform: uppercase;
            }

            .button-details
            {
                position: absolute;
                width: 100%;

                .decoration,
                .corner-top
                {
                    display: none;
                    pointer-events: none;
                }

                .decoration
                {
                    position: absolute;
                    width: 88px;
                    height: 10px;
                    bottom: -3rem;
                    // background: url('../../static/images/header/ButtonDecorationBar.png') no-repeat;
                }

                .corner-top
                {
                    position: absolute;
                    width: 175px;
                    height: 58px;
                    bottom: -3rem;
                    transform: scale(.65);
                    // background: url('../../static/images/header/ButtonDecorationCorners.png') no-repeat;
                }

                &.information
                {
                    .corner-top
                    {
                        left: -2rem;
                    }

                    .decoration
                    {

                    }
                }

                &.mint
                {
                    .corner-top
                    {
                        left: 7rem;
                    }

                    .decoration
                    {
                        left: 9rem;
                    }
                }
            }

            .button-container
            {
                background: unset !important;
                position: relative;
                overflow: visible !important;
                max-width: 142px;

                &:hover
                {
                    background: unset !important;
                    border-color: #00E101 !important;
                    border-width: 2px !important;

                    button
                    {
                        // border-width: 0 !important;
                        // border-color: #00E101 !important;
                        border-color: transparent !important;
                        color: white !important;
                        background: rgba(0, 225, 1, .2) !important;
                    }

                    .mint
                    {
                        background: rgba(255, 255, 255, .2) !important;
                    }

                    & + .button-details
                    {
                        .corner-top,
                        .decoration
                        {
                            display: block;
                        }
                    }
                }

                .information
                {
                    background: white !important;
                    color: black !important;
                    border-color: transparent !important;
                }

                .mint
                {
                    background: unset !important;
                    color: #00E101 !important;
                    border-color: transparent !important;
                }
            }
        }
    }
}