@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

$navabr-bg: #202428;
$navlink-clr: #f2f1f1;

.history {
  .history-bg {
    /*background-image: url("../../images/banner.jpg");
    background-size: cover;
    height: 280px;
    width: 100%;*/
    .history-content {
      h2 {
          
        padding-top: 50px;
        font-family: "D-DIN Exp";
        font-weight: bold;
        font-size: 2.5rem;
      }
      p {
        color: #727272;
        font-family: "Poppins", sans-serif;
        text-align: justify;
      }
      .history-monkey {
        transform: scaleX(-1);
        transform-origin: center;
        transform-box: fill-box;
        height: 300px;
      }
    }
  }
}
