.benefits, .marketplace {
    color: #fff;

    .title-text, .subtitle-text {
        color: #00E101;
    }

    .info {
        font-size: 14px;
    }
}

.marketplace {
    background-image: url('../../images/sections/Marketplace.png');
    
}