.nft-tabs {
  .tabs {
    color: white;
    background-color: #204356;
    .tab-list {
      background-color: #163244;
      .active-tab {
        background-color: #204356;
      }

      .tab-header {
        &:hover {
          cursor: pointer;
        }
      }
    }
    .tab-content {
      .label {
      }
      .data {
        color: #5eeebf;
      }
      .product-info-data {
        @media (max-width: 991.98px) {
          &:nth-of-type(2n + 1) {
            background-color: #163244;
          }
          &:last-child {
            background-color: #204356;
          }
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) and (max-width: 1199.98px) {
          &:nth-child(4n + 1),
          &:nth-child(4n + 2) {
            background-color: #163244;
          }
          &:last-child {
            background-color: #204356;
          }
        }

        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
          &:nth-child(6n + 1),
          &:nth-child(6n + 2),
          &:nth-child(6n + 3) {
            background-color: #163244;
          }
        }
      }
      .my-nfts {
        .nft-item {
          cursor: pointer;
          &:nth-child(2n) {
            background-color: #163244;
          }
          input,
          label {
            cursor: pointer;
          }
          .form-check-input[disabled] ~ .form-check-label,
          .form-check-input:disabled ~ .form-check-label {
            color: white;
          }
          &.claimed {
            opacity: 0.4;
          }

          .btn-view {
            position: absolute;
            left: 80%;
            padding: 2px 16px;
            top: 0px;
          }
        }
      }
    }
  }
}
